@charset "utf-8";
@import "./reset.css";

body {
  margin: 0;
  color: #fff;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapBox {
  text-align: center;
  margin-top: 100px;
}

.mainTitle {
  margin-bottom: 30px;
}

.ratingArea {
  margin-bottom: 35px;
}

.ratingTitle {
  margin-bottom: 15px;
}

.starRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.st {
  font-size: 42px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}

.st:hover {
  transform: scale(1.1);
}

.on {
  color: gold;
}

.ratingText {
  margin-top: 15px;
  font-size: 20px;
}

.dialogCard {
  width: 300px;
  margin: auto;
  background: rgb(202, 239, 243);
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dialogText {
  margin-bottom: 15px;
}

.closeBtn {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.closeBtn:hover {
  opacity: 0.8;
}


.openBtn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 18px;
  border: none;
  background: rgb(35, 69, 241);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.openBtn:hover {
  opacity: 0.8;
}